.register-container {
  display: flex;
  height: 100vh;  
  width: 100vw;
  justify-content: center;
  align-items: center;
  /*background-color: #f0f2f5;*/
/*
  background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  animation: backgroundSmooth 3s ease-in-out infinite alternate;*/
 
 
  background: url('https://images.unsplash.com/photo-1626000896740-afe800268327?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhbXBvfGVufDB8fDB8fHww') no-repeat center center fixed;
  background-size: cover;
/*
  background: url('https://www.transparenttextures.com/patterns/diagmonds.png') repeat;
  background-color: #4ae284cc; /* color azul semi-transparente */

}

.register-box {
  background-color: rgba(255, 255, 255, 0.95); /* blanco con transparencia */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
/* --- CAMBIO CLAVE AQUÍ --- */
  width: 90%;           /* En celulares ocupa casi todo el ancho */
  max-width: 400px;     /* En PC nunca pasa de 400px (queda elegante) */
  min-height: 300px; /* Altura mínima para que no se vea aplastado */
}

.register-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.register-box form {
  display: flex;
  flex-direction: column;
}

.register-box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: 10px;
}

.register-box button {
  width: 100%;
  padding: 0.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-box .register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link button {
  background: none;
  border: none;
  color: #008039;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}


@keyframes backgroundSmooth {
  0% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
  50% {
    background: linear-gradient(135deg, #2c967f, #276749);
  }
  100% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
}